.room {
    width: 8rem;
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: black solid 3px;
    margin: 1rem;
    color: black;
    font-weight: bold;
    text-decoration: none;

    background-color: silver;
    background-image: linear-gradient(335deg, #808080 23px, transparent 23px),
    linear-gradient(155deg, #a0a0a0 23px, transparent 23px),
    linear-gradient(335deg, #808080 23px, transparent 23px),
    linear-gradient(155deg, #a0a0a0 23px, transparent 23px);
    background-size: 58px 58px;
    background-position: 0 2px, 4px 35px, 29px 31px, 31px 6px;
}

.room :hover {
    cursor: pointer;
}

.peopleContainer {
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.peopleContainer :hover {
    cursor: pointer;
}